{% extends 'app/base.html' %}
{%load static %}

{% block css %}
{% endblock %}

{% block contenido %}
<link type="text/css" rel="stylesheet" href="{% static 'app/css/eva_param.css' %}">
<!-- CSS PALABRAS -->
<div class="cont-title">
    <div class="saludo">
        <h1>Bienvenido a tu ejercicio de </h1>
        <h4>Inteligibilidad</h4>
        <p>
            <strong>Repita en voz alta el listado de palabras que visualiza mientra graba su ejercicio</strong>
        </p>
    </div>
</div>
<div class="lista">
    <div class="list-cont">
        <ul>
            <li>Pato</li>
            <li>Dinero</li>
            <li>Crema</li>
            <li>Perro</li>
            <li>Sifero</li>
        </ul>
        <ul>
            <li>Cobre</li>
            <li>Carreta</li>
            <li>Trazo</li>
            <li>Mata</li>
            <li>Blancose</li>
        </ul>
        <ul>
            <li>Paleta</li>
            <li>Clavo</li>
            <li>Bruja</li>
            <li>Boda</li>
            <li>Marrata</li>
        </ul>
        <ul>
            <li>Rojo</li>
            <li>Queso</li>
            <li>Pase</li>
            <li>Nasure</li>
            <li>Morine</li>
        </ul>
    </div>
</div>

<!-- CONTENIDO -->

{% endblock %}