{% extends 'app/base.html' %}
{%load static %}

{% block css %}
{% endblock %}

{% block contenido %}
<link type="text/css" rel="stylesheet" href="{% static 'app/css/eva_texto.css' %}">
<!-- CSS EJERCICIO TEXTO -->
<div class="cont-title">
    <div class="saludo">
        <h1>Bienvenido a tu ejercicio de</h1>
        <h4>Lectura </h4>
        <p>
            <strong>Repita en voz alta el listado de palabras que visualiza mientra graba su ejercicio</strong>
        </p>
    </div>
</div>
<div class="contenido">
    <div class="cont-text">
        <p>
            Recuerdo con mucha claridad uno de los aniversarios de matrimonio de mis padres. 
            Había una  abundante cena dispuesta en la mesa con todo tipo de alimentos.  
            Todos  nos  sentamos  a  comer  muy  bien  vestidos.    
            Antes  de  comenzar,  mi padre agradeció los años junto a mi madre. 
            Él transmitía su felicidad por la familia que había construido. 
            ¡¡Me alegró mucho escucharlo!!    Yo en ese momento no entendía la importancia de sus palabras,
            menos mi hermana  que  hacía  morisquetas  a  sus  espaldas.    Nada  mejor  lo  hacía  mi abuelo,  
            quien  dormía  en  el  sillón.  Mi  abuela  solo  se  preocupaba  por alimentar  a  su  gatito  regalón  que  
            estaba  bajo  la  mesa.    Solo  mi  mamá miraba con atención, 
            reflejando en su rostro la verdadera importancia que tenían las palabras de mi padre. 
            Cuando  el  discurso  finalizó,  todos  volvimos  a  poner  atención  en  la  mesa, 
            donde los manjares se agolpaban.   Estábamos en eso, cuando el gato saltó sobre la mesa  ¡¡Ayyy!! 
            ¡¡Dios  mío!!  gritó  mi  abuela.    El  animal cayó  en  la torta  y  asustado  empezó  a  pillarse  la  cola.  
            Todos  quedamos  bañados  en merengue  y  crema,  pero  riéndonos  al  ver  nuestras  caras  adornadas  
            con barbas blancas y bigotes azucarados. ¿Podrías tu contar alguna anécdota de tu familia?.
        </p>
    </div>
</div>
<!-- CONTENIDO -->

{% endblock %}