{% extends 'app/base.html' %}
{% load static%}

{% block css%}

{% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
<div class="container-wrapper">
    <div class="container-login">
        <div class="login">
            <div class="container">
                <h1>Ingresar</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password"><br>
                <div>
                    <a href="#">olvido la contraseña?</a>
                    <button>Ingresar</button>
                </div>
            </div>
        </div>
        <div class="register">
            <div class="container">
                <i class="fas fa-user-plus fa-5x"></i>
                <h2>Hola, Bienvenido!</h2>
                <p>Ingresa tus datos para registrarte</p>
                <button>Registrar <i class="fas fa-arrow-circle-right"></i></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}