{% extends 'app/base.html' %}
{% load static %}

{% block css%}

{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'app/css/metronomo.css' %}">
<link rel="stylesheet" href="{% static 'app/css//main.css' %}">

<!-- Saludo principal -->
<div class="container-padre">
    <div class="">
        <div class="saludo">
            <div class="Bienvenida">
                <h2>Bienvenido</h2>
                <p>Buenos días, bienvenido a tu sesión de ejercitación.</p>
            </div>
        </div>
    </div>
    <!-- metronomo -->
    <div class="container-metronome">
        <div class="metronome">
            <div>
                <div class="bpm-display">
                    <span class="tempo">140</span>
                    <span class="bpm">BPM</span>
                </div>
                <div class="tempo-text">Nice and steady</div>
                <div class="tempo-settings">
                    <div class="adjust-tempo-btn decrease-tempo">-</div>
                    <input type="range" min="20" max="280" step="1" class="slider">
                    <div class="adjust-tempo-btn increase-tempo">+</div>
                </div>
            </div>
            <div class="controlador">
                <button id="start_stop" class="start-stop">START</button>
                <div class="measures">
                    <div class="subtract-beats stepper">-</div>
                    <div class="measure-count">4</div>
                    <div class="add-beats stepper">+</div>
                </div>
                <span class="beats-per-measure-text">Beats per measure</span>
                <div>

                    <p class="duracion" id="duracion">--Duración--</p>
                </div>
               <section>
                    {% load crispy_forms_tags %}
            <form action="" method="post">
                <div style="display:none">
                    <h4>Ingresa una entrada</h4>
                    {% csrf_token %}
                    {{form | crispy}}
                </div>
                <div id="btn-guardar" >
                    <button type="submit" class="boton-restart" onclick="restart()">guardar</button>
                </div>
                {{ mensaje }}
            </form>
</section>
            </div>
        </div>
    </div>
    <!-- Saludo principal -->

    <div class="">
        <div class="saludo2">
            <div class="Bienvenida">
                <h2>Recuerda</h2>
                <p>Recuerda las indicaciones de tu fonoadilogo/a</p>
            </div>
        </div>
    </div>
</div>
<div class="container-mic">
    <div class="selector-audio">
        <select name="listaDeDispositivos" id="listaDeDispositivos"></select>
    </div>
</div>

<!-- METRONOMO -->
<script src="{% static 'app/js/microfono.js' %}"></script>
<script src="{% static 'app/js/metronomo.js' %}"></script>
{% endblock %}